include ./mixins
include ./detail

mixin listProduct(obj)
    h3.product-sidebar-title= obj.title
    ul.product-sidebar-list 
        each item in obj.list
            li.product-sidebar-item
                a(href=item.href)= item.text 
                    span= `(${item.num})`

mixin paginationType(obj)
    .pagination-type 
        if obj.isGrid
            a(href="../all/all-grid.html").bi.bi-grid-3x3-gap-fill.pagination-type--active
            a(href="../all/list-grid.html").bi.bi-list-task
        else 
            a(href="../all/all-grid.html").bi.bi-grid-3x3-gap-fill
            a(href="../all/list-grid.html").bi.bi-list-task.pagination-type--active
     

mixin listTag(obj)
    ul.tag-list
        each item in obj.list
            if item.isActive 
                li.tag-item.tag-item--active= item.text
            else 
                li.tag-item= item.text

mixin pagination(obj)
    ul.pagination-list
        i.bi.bi-chevron-left
        each item,i in Array(obj.num)
            -var check = i == obj.currentPage
            if check 
                li.pagination-list-item.pagination-list-item--active= i+1
            else 
                li.pagination-list-item= i+1
        i.bi.bi-chevron-right


mixin productListCard(obj)
    - var icons = [{text:"Yêu thích",icon:"bi bi-suit-heart-fill"},{text:"So sánh",icon:"bi bi-bar-chart-fill"}]
    .product-list-card 
        .col-lg-4
            .product-list-img
                img(src=obj.img,alt='').img-fluid
        .col-lg-8
            .product-list-info
                .product-list-name= obj.name
                .product-list-price= obj.price
                .product-list-desc= obj.desc
                .product-list-group 
                    +button({text:'Add to cart',class:'product-list-btn'})
                    +btnIcon({icons})
