
-var images = [{img:`${assets}gallery-1.jpg`},{img:`${assets}gallery-2.jpg`},{img:`${assets}gallery-3.jpg`},{img:`${assets}gallery-4.jpg`},{img:`${assets}gallery-5.jpg`},{img:`${assets}/gallery-6.jpg`},{img:`${assets}gallery-7.jpg`},{img:`${assets}gallery-8.jpg`}]
section.section-gallery.container-fluid.gx-0 
    .gallery-container
        each item in images 
            .gallery-item 
                img(src=item.img,alt='')
