include ../../abstract/detail
include ../../abstract/mixins
- var listImg=[{img:`${assets}/1.jpg`,active:false},{img:`${assets}/2.jpg`,active:true},{img:`${assets}/3.jpg`,active:false},{img:`${assets}/4.jpg`,active:false}]
- var list = ['To','Nhỏ']

.container-fluid.detail 
    .container 
        .row.gx-5
            .col-lg-1.col-md-12
                +detailSlide({listImg})
            .col-lg-6.col-md-12
                .detail-img 
                    img(src=`${assets}/6.jpg`,alt='').img-fluid
            .col-lg-5.col-md-12
                .detail-info 
                    +title({text:'Chi tiết sản phẩm'})
                    p.detail-price 330.000
                    hr.detail-divider
                    .detail-review 
                        .detail-review-star 
                            i.bi.bi-star-fill
                            i.bi.bi-star-fill
                            i.bi.bi-star-fill
                            i.bi.bi-star-fill
                            i.bi.bi-star-half
                        p.detail-review-num 1 Review(S)
                        p.detail-review-add Add Your Review
                    hr.detail-divider
                p.detail-title Màu sắc
                .detail-bg.detail-bg--red
                .detail-bg.detail-bg--dark.detail-bg--active
                .detail-bg.detail-bg-yellow
                p.detail-title Kích thước
                +selectOptions({list})
                p.detail-title Số lượng 
                    .detail-quantity 
                        +quantityInput()
                        +button({text:'Add to cart',class:'detail-quantity-add'})
                +btnIcon()
                p.detail-title Mô tả
                p Một hợp chất có trong rượu vang được gọi là resveratro có khả năng làm tăng tối đa tuổi thọ. Resveratro còn có khả năng ngăn chặn mật độ ôxy hoá của protein béo.
